---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cDZFS3VpWXo4Nk1Yb0o3SHpud1pFN3FSNjp2WFRzalFIVm1QMjgxV2lXZlpMblBTTTVBN3REanBlWnB0dThHcjJtMGc3djBTWXRtSA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 30 Nov 2019 14:42:09 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 71ab645854827b00ed9f0e34a68cdad5
      X-Response-Time:
      - '180'
      X-Transaction:
      - 002e7ddf000566b0
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAA02BAEAAAAAlRlUVa%2FQtYyN5sDEEGnkqWCEF%2FM%3DuYxf4zY930iLAzUVtPhHxZaQJr6NGdu1cSsk2BGm5c0aMA4JhY"}'
  recorded_at: Sat, 30 Nov 2019 14:42:10 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=20&screen_name=NammaBESCOM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAA02BAEAAAAAlRlUVa%2FQtYyN5sDEEGnkqWCEF%2FM%3DuYxf4zY930iLAzUVtPhHxZaQJr6NGdu1cSsk2BGm5c0aMA4JhY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 30 Nov 2019 14:42:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 847e4f0f60138846641f3c09c9b7072e
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1488'
      X-Rate-Limit-Reset:
      - '1575125059'
      X-Response-Time:
      - '210'
      X-Transaction:
      - 00ca355500b55d07
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sat Nov 30 14:22:42 +0000 2019","id":1200782208962662400,"id_str":"1200782208962662400","text":"https:\/\/t.co\/q4BJddmxMZ","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1200782203069718530,"id_str":"1200782203069718530","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/EKoJDTqU4AImCpu.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/EKoJDTqU4AImCpu.png","url":"https:\/\/t.co\/q4BJddmxMZ","display_url":"pic.twitter.com\/q4BJddmxMZ","expanded_url":"https:\/\/twitter.com\/NammaBESCOM\/status\/1200782208962662400\/photo\/1","type":"photo","sizes":{"medium":{"w":729,"h":306,"resize":"fit"},"large":{"w":729,"h":306,"resize":"fit"},"small":{"w":680,"h":285,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}},"features":{"medium":{"faces":[]},"large":{"faces":[]},"orig":{"faces":[]},"small":{"faces":[]}}}]},"extended_entities":{"media":[{"id":1200782203069718530,"id_str":"1200782203069718530","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/EKoJDTqU4AImCpu.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/EKoJDTqU4AImCpu.png","url":"https:\/\/t.co\/q4BJddmxMZ","display_url":"pic.twitter.com\/q4BJddmxMZ","expanded_url":"https:\/\/twitter.com\/NammaBESCOM\/status\/1200782208962662400\/photo\/1","type":"photo","sizes":{"medium":{"w":729,"h":306,"resize":"fit"},"large":{"w":729,"h":306,"resize":"fit"},"small":{"w":680,"h":285,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}},"features":{"medium":{"faces":[]},"large":{"faces":[]},"orig":{"faces":[]},"small":{"faces":[]}}}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":570677817,"id_str":"570677817","name":"Namma
        BESCOM","screen_name":"NammaBESCOM","location":"","description":"The Vision
        of BESCOM is to become number one in customer satisfaction in South Asia in
        Power Distribution","url":"https:\/\/t.co\/6jeAgc6BjD","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/6jeAgc6BjD","expanded_url":"http:\/\/www.bescom.org","display_url":"bescom.org","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":15029,"friends_count":243,"listed_count":18,"created_at":"Fri
        May 04 06:45:19 +0000 2012","favourites_count":188,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":97093,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/716947162655920128\/ZYw_ISkd_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/716947162655920128\/ZYw_ISkd_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"can_media_tag":null,"followed_by":null,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"und"},{"created_at":"Sat
        Nov 30 14:21:35 +0000 2019","id":1200781927541698560,"id_str":"1200781927541698560","text":"@anand_kumar_k
        Dear Consumer, \n\nKindly provide the contact number and address to assist
        you further. \n\nWith Regards,\nBESCOM Helpline\n(1912)","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"anand_kumar_k","name":"Anand
        Kendhole","id":217461339,"id_str":"217461339","indices":[0,14]}],"urls"[...]
[...]
