<div class="card">
  <div class="card-content">
    <div class="content">
      <pre><%= tweet.raw_data %></pre>
    </div>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <%= link_to 'Twitter', tweet.url %>
      </span>
    </p>
  </footer>
</div>
<hr>
