<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href=<%= root_path %>>
        PowerCut
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item <%= 'is-info is-selected' if current_page?(root_path) %>", href=<%= root_path %>>
          Tweets
        </a>

        <a class="navbar-item", href=<%= map_path %>>
          Map
        </a>
      </div>
    </div>
  </div>
</nav>
